<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../globals.css" />
    <link rel="stylesheet" href="../navbar.css" />
    <link rel="stylesheet" href="../browse_collections.css" />
    <title>Browse Collections</title>
  </head>
  <body>
    <%- include("./partials/navbar") %>

    <div class="flex-container">
      <main class="main">
        <img
          src="https://images.unsplash.com/photo-1470405696369-2ab23def9f8d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt=""
          class="banner-image"
        />
        <header class="page-header">
          <% if (messages.success) { %>
            <h3 class="success-message"><%= messages.success %></h3>
            <% } %>
          <hr />
          <hr />
          <div class="info-container">
            <div class="info-left">
              <h2 class="welcome-header">Browse Collections</h2>
              <p class="header-text">Click on a collection for more information!</p>
            </div>
            <div class="info-right">
              <form method="GET" action="/collections/browse" class="filter-form">
                <input type="hidden" name="field" value="likes">
                <label for="like-selector">Sort By Likes</label>
                <select id="like-selector" name="order" class="filter-selector" required>
                  <option value="" disabled selected>--Select an Option</option>
                  <option value="DESC">High to Low</option>
                  <option value="ASC">Low to High</option>
                </select>
                <button class="btn filter-btn" type="submit">Go</button>
              </form>
                <form method="GET" action="/collections/browse" class="filter-form">
                  <input type="hidden" name="field" value="rating">
                  <label for="rating-selector">Sort By Rating</label>
                  <select id="rating-selector" name="order" class="filter-selector" required>
                    <option value="" disabled selected>--Select an Option</option>
                    <option value="DESC">High to Low</option>
                    <option value="ASC">Low to High</option>
                  </select>
                  <button class="btn filter-btn" type="submit">Go</button>
            </div>
          </div>
          <hr />
          <hr />
          <div class="card-grid">
            <% collections.forEach(collection => { %>

            <a class="card" href="/collections?id=<%= collection.collection_id %>">
  
              <div class="card-body">
                <h3 class="vinyl-name"><%= collection.collection_name %></h3>
                <h4 class="vinyl-artist">
                  By <%= collection.first_name %> <%= collection.last_name %>
                </h4>
                <% if (collection.likes == 1) { %>
                  <h4 class="vinyl-artist">
                    <%= collection.likes %> Like
                  </h4>
                <% } else { %>
                  <h4 class="vinyl-artist">
                    <%= collection.likes %> Likes
                  </h4>
                <% } %>
                <% if (!collection.rating) { %>
                 <h4 class="vinyl-artist">
                  No reviews yet!
                </h4>
                <% } else if (collection.reviews == 1) {%>
                  <h4 class="vinyl-artist">
                    <%= collection.rating %> &#11088; from <%= collection.reviews %> review
                  </h4>
                <% } else {%>
                  <h4 class="vinyl-artist">
                    <%= collection.rating %> &#11088; from <%= collection.reviews %> reviews
                  </h4>
                <% } %>
                <h4 class="vinyl-artist">
                  
                </h4>
              </div>
              <div class="card-footer"></div>
            </a>
            <% }) %>
          </div>
        </header>
      </main>
    </div>
  </body>
  <script src="../navbar.js"></script>
</html>
