<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="inspect_collection.css" />
    <title><%= collection.name %></title>
  </head>
  <body>
    <%- include("./partials/navbar") %>

    <div class="flex-container">
      <main class="main">
        <img
          src="https://images.unsplash.com/photo-1484704849700-f032a568e944?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt=""
          class="banner-image"
        />
        <header class="page-header">
          <% if (messages.success) { %>
            <h3 class="success-message"><%= messages.success %></h3>
            <% } %>
          <hr />
          <hr />
          <div class="info-container">
            <div class="left-info">
                <h2 class="welcome-header"><%= collection.name %></h2>
              <h4 class="header-text">
                By <u><%= collection.first_name %> <%= collection.last_name %></u>
              </h4>
             
              <h4 class="header-text"><%= vinyls.length %> Vinyls</h4>
              <h4 class="header-text">
                Created on <%= collection.timestamp.toLocaleDateString() %>
              </h4>
            </div>

            <div class="right-info">

                <% if (user && alreadyLiked) { %>
                    <form method="POST" action="/likes/delete" class="like-form">
                        <input type="hidden" name="collectionId" value="<%= collection.collection_id %>">
                        <button class="like-btn already-liked"type="submit">UN-LIKE | &#128078;</button>   
                    </form>
                <% } else if (user) { %>
                    <form method="POST" action="/likes/add" class="like-form">
                        <input type="hidden" name="collectionId" value="<%= collection.collection_id %>">
                        <button class="like-btn" type="submit">LIKE | &#128077;</button>   
                    </form>
                <% } else if (!user) { %>
                    <form method="POST" action="#" class="like-form">
                        <input type="hidden" name="collectionId" value="<%= collection.collection_id %>">
                        <button class="like-btn disabled" disabled type="submit">LIKE | &#128077;</button> 
                        <a href="/login"><u><b>Log In</b></u> to Like Collections</a>  
                    </form>
                <% } %>

                    
                <% if (likes.length == 1) { %>
                    <h4 class="header-text"><%= likes.length %> Like</h4>
                <% } else {%>
                    <h4 class="header-text"><%= likes.length %> Likes</h4>
                <% } %>
              <% if (reviews.length == 1) { %>
                <h4 class="header-text"><%= reviews.length %> Review</h4>
              <% } else {%>
                <h4 class="header-text"><%= reviews.length %> Reviews</h4>
                <% } %>
              
            </div>
          </div>

          <hr />
          <hr />
          <div class="card-grid">
            <% vinyls.forEach(vinyl => { %>
            <a class="card" href="/vinyls?id=<%= vinyl.vinyl_id %>">
              <div class="card-header">
                <img class="card-image" src=<%= vinyl.image_url ||
                "https://plus.unsplash.com/premium_photo-1677589330346-7e71871d2ce5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
                %> alt="" />
              </div>
              <div class="card-body">
                <h3 class="vinyl-name"><%= vinyl.vinyl_name %></h3>
                <h4 class="vinyl-artist"><%= vinyl.artist %></h4>
                <h4 class="vinyl-year">
                  <%= vinyl.year %> | <%= vinyl.genre %>
                </h4>
              </div>
              <div class="card-footer"></div>
            </a>
            <% }) %>
          </div>
          <hr />
          <hr />
          <h2 class="welcome-header">Leave A Review</h2>
          <hr />
          <hr />
          <section class="create-review">
            <% if (user && alreadyReviewed) { %>
                <form class="review-form" method="POST" action="#">
                    <input hidden name="collectionId" value="<%= collection.collection_id %>">
                    <p class="warning">You've already reviewed this collection!</p>
                    <label for="title">Title</label>
                    <input type="text" readonly class="review-title-input disabled" id="title" name="title" maxlength="250" required>
                    <label for="review-content">Review</label>
                    <textarea name="reviewContent" id="review-content" readonly class="disabled" cols="30" rows="10" required></textarea>
                    <button class="btn disabled" type="submit" disabled>Submit Review</button>
                </form> 
            <% } else if (user) {%>
                <form class="review-form" method="POST" action="/reviews/add">
                    <input hidden name="collectionId" value="<%= collection.collection_id %>">
                    <label for="title">Title</label>
                    <input type="text" class="review-title-input" id="title" name="title" maxlength="250" required>
                    <label for="review-content">Review</label>
                    <textarea name="reviewContent" id="review-content" cols="30" rows="10" required></textarea>
                    <label for="rating">Rating (1-5)</label>
                   <input type="range" id="rating" name="rating" min="1" max="5" step="1">
                   <p id="rating-display">3/5 (Decent)</p>
                   <button class="btn" id="submitButton" type="submit">Submit Review</button>
                </form>
            <% } else if (!user) { %>
                <form class="review-form" method="POST" action="#">
                    <input hidden name="collectionId" value="<%= collection.collection_id %>">
                    <p class="warning">Only members can leave reviews!</p>
                    <div class="link-container">  
                        <a href="/login" class="btn link">Log In</a><a href="/register" class="btn link">Sign Up</a>
                    </div>
                    <label for="title">Title</label>
                    <input type="text" readonly class="review-title-input disabled" id="title" name="title" maxlength="250" required>
                    <label for="review-content">Review</label>
                    <textarea name="reviewContent" id="review-content" readonly class="disabled" cols="30" rows="10" required></textarea>
                    <button class="btn disabled" type="submit" disabled>Submit Review</button>
                </form> 
            <% } %>
          </section>
          <hr><hr>
          <h2 class="welcome-header">See What Others Are Saying</h2>
          <hr><hr>
          <% reviews.forEach(review => { %>
            <div class="review-container">
                <h3><%= review.title %></h3>
                <h4 class="header-text review-stars"><%= review.rating %>/5 &#11088;</h4>
                <h4 class="header-text review-info"><%= review.first_name %> <%= review.last_name %> | <%= review.timestamp.toLocaleDateString() %></h4>
                
                <p class="header-text review-text"><%= review.text %></p>
            </div>
           <hr />
          <% }) %>
        </header>
      </main>
    </div>
  </body>
  <script src="navbar.js"></script>
  <script src="inspectCollection.js"></script>
</html>
