<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../globals.css" />
    <link href="https://fonts.cdnfonts.com/css/norse" rel="stylesheet">
    <link rel="stylesheet" href="../navbar.css" />
    <link rel="stylesheet" href="../footer.css" />
    <link rel="stylesheet" href="../vinyls.css" />
    <title><%= filterName %> Vinyls</title>
  </head>
  <body>
    <%- include("./partials/navbar") %>

    <div class="flex-container">
      <main class="main">
        <img
          src="https://images.unsplash.com/photo-1530288782965-fbad40327074?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
          alt=""
          class="banner-image"
        />
        <header class="page-header">
          <% if (messages.success) { %>
            <h3 class="success-message"><%= messages.success %></h3>
            <% } %>
          <hr/>
          <hr/>
          <div class="info-container">
            <div class="info-left">
              <h2 class="welcome-header"><%= filterName %> Vinyls</h2>
              <% if (vinyls.length == 1) { %>
                <h4 class="header-text"><%= vinyls.length %> result</h4>
              <% } else { %>
                <h4 class="header-text"><%= vinyls.length %> results</h4>
              <% } %>  
              
              <p class="header-text"> <b><u>Tip:</u></b> Click on a vinyl to see the track-list and more information!</p>
              <% if (user) { %>
                <button class="btn"><a href="/vinyls/add">Add New Vinyl</a></button>
              <% } %>
            </div>
            <div class="info-right">
              <form method="GET" action="/vinyls/browse" class="filter-form">
                <input type="hidden" name="field" value="genre">
                <label for="genre-selector">Filter By Genre</label>
                <select id="genre-selector" name="name" class="filter-selector" required>
                  <option value="" disabled selected>--Select a Genre</option>
                  <% genres.forEach(genre => { %>
                    <option value="<%= genre.name %>"><%= genre.name %></option>
                  <% }) %>
                </select>
                <button class="btn filter-btn" type="submit">Go</button>
              </form>
                <form method="GET" action="/vinyls/browse" class="filter-form">
                  <input type="hidden" name="field" value="artist">
                  <label for="artist-selector">Filter By Artist</label>
                  <select id="artist-selector" name="name" class="filter-selector" required>
                    <option value="" disabled selected>--Select an Artist</option>
                    <% artists.forEach(artist => { %>
                      <option value="<%= artist.name %>"><%= artist.name %></option>
                    <% }) %>
                  </select>
                  <button class="btn filter-btn" type="submit">Go</button>
              </form>
              
            </div>
          </div>
          
          <hr/>
          <hr/>
          <div class="card-grid">

            <% for( let i = 0; i < vinyls.length; i++ ) { %>
                
                <a class="card" href="/vinyls?id=<%= vinyls[i].vinyl_id %>">
                    <div class="card-header">
                      <img
                        class="card-image"
                        src=<%= vinyls[i].image_url || "https://plus.unsplash.com/premium_photo-1677589330346-7e71871d2ce5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" %>
                        alt=""
                      />
                    </div>
                    <div class="card-body">
                      <h3 class="vinyl-name"><%= vinyls[i].name %></h3>
                      <h4 class="vinyl-artist"><%= vinyls[i].artist %></h4>
                      <h4 class="vinyl-year"><%= vinyls[i].year %> | <%= vinyls[i].genre %></h4>
                    </div>
                    <div class="card-footer">
                    </div>
                  </a>

            <% } %>
   
          </div>
        </header>
      </main>
    </div>
    <%- include("./partials/footer") %>
  </body>
  <script src="../navbar.js"></script>
</html>
